.header_block{
    padding: 30px 275px 0px 275px;
    border-bottom-color: #cccccc; 
    height: 150px;
    background-color: white;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: dimgray;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.name{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px; 
    font-display: center; 
    color: white; 
    background-color: #4aaaa5;
    width: 375px; 
    float: left;
    height: 100px;
    text-align: center; 
    padding-top: 45px; 
    padding-bottom: 20px;
    position: relative;
    clear: both;
}

img.resize{
    width: 50%;
    height: auto;
}


.nav_me {
    float: right;
    color: #ffffff; 
    font-size: 28px; 
    text-decoration: none; 
    height: 50px;
    margin-top: 110px;
    margin-right: 100px;
}


/* Nav bar style */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#about{
    float: right;
    margin-left: 30px;
    margin-top: 60px;
    text-align: right;
    font-size: 20px;
    color: #cccccc;
    text-decoration: none; 
}

#portfolio{
    float: right;
    margin-left: 30px;
    margin-top: 60px;
    font-size: 20px;
    text-align: right;
    color: #cccccc;
    text-decoration: none; 
}

#contact{
    float: right;
    margin-left: 30px;
    margin-top: 60px;
    text-align: right;
    font-size: 20px;
    color: #cccccc;
    text-decoration: none; 

}


/* this was created to overright the hyperlink style on the nav bar */
/* nav a{
    float: right;
    text-align: left;
    color: #cccccc;
    text-decoration: none;   
} */


.middle_part{
    width: 100%;
    height: 70%;
    position: absolute;
    clear: both;
    background-image: url("dynamic-style.png"); 
    padding: 10px 20px 10px 20px;
}

/* Couldn't centralize this block with a 960px width and set a border to determine the container*/
.about_me{
    /* clear: both; */
    border-style: dashed;
    border-color: cornflowerblue;
    margin: 30px 275px 0px 275px;
    width: 960px;
    height: 600px;
    padding: 50px;
    text-align: center;
    word-wrap: normal;
    margin: 0 auto; 
    background-color: white;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    width: 960px; 
    text-align: center; 
}

.footer{
    text-align: center;
    font-size: 30px;
    position: fixed;
    /* Check "sticky" position */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: darkgray;
    color: white;
}